<p>
	<strong> Title: </strong>
	<%= @article.title %>
</p>

<p>
	<strong> Text: </strong>
	<%= @article.text %>
</p>

<% if user_signed_in?%>
	<% if @article.user_id==current_user.id %>
		<%= link_to 'Edit', edit_article_path(@article) %>
		<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%end%>
<%end%>
<%# <%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Back', articles_path %>