<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
        Logged in as <strong><%=current_user.email%> <strong>
        <%= link_to "Edit Profile", edit_user_registration_path%>
      <%#  <%= link_to "Show Profile", user_path(current_user)%>
        <%= link_to "Log out", destroy_user_session_path, method: :delete%>
      <%else%>
        <%= link_to "Signup", new_user_registration_path%> or
        <%= link_to "Login", new_user_session_path%>
      <%end%>  
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    </body>
</html>
